<html>
<body>
	<h2>Abuela Sorda</h2>
	<h4>Di algo a la abuela</h4>
	<form method="get" action="greeting">
		<input type="text" name="msj"/>
		<input type="submit" value="Dilo!" />
	</form>
</body>
</html>